[class*="NavBar-logoContainer-"] {
    background-image: url("/css/addons/plex/plex-alt-logo/plex.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 80px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}
