[class*="NavBar-logoContainer-"] {
    background-image: url("/css/addons/plex/plex-alt-logo/orange_plex_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 260px;
    height: 80px;
    filter: drop-shadow(0 0 6px #ff8c00);
    margin: 0 10px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none !important;
}
